<template>
  <div class="chat container">
    <h2 class="center teal-text">Real-time Chat</h2>
    <div class="card">
      <div class="card-content">
        <ul class="messages" v-chat-scroll>
          <li v-for="message in messages" :key="message.id">
            <span class="teal-text user">{{ message.name }}</span>
            <span class="grey-text text-darken-1 content">{{ message.content }}</span>
            <span class="grey-text time">{{ formatDate(message.timestamp) }}</span>
          </li>
        </ul>
      </div>
      <div class="card-action">
        <NewMessage :name="name"/>
      </div>
    </div>
  </div>
</template>

<script>
import format from 'date-fns/format';
import NewMessage from '@/components/NewMessage.vue';
import db from '@/firebase/init';

export default {
  name: 'Chat',
  props: ['name'],
  components: {
    NewMessage,
  },
  data() {
    return {
      messages: [],
    };
  },
  methods: {
    formatDate(date) {
      return format(date, 'MMM DD, YYYY h:mm A');
    },
  },
  created() {
    const ref = db.collection('messages').orderBy('timestamp');
    ref.onSnapshot((snapshot) => {
      snapshot.docChanges().forEach((change) => {
        if (change.type === 'added') {
          const { id } = change.doc;
          const { name, content, timestamp } = change.doc.data();
          this.messages.push({
            id,
            name,
            content,
            timestamp,
          });
        }
      });
    });
  },
};
</script>

<style lang="scss" scoped>
.chat {
  h2 {
    font-size: 2.6em;
    margin-bottom: 40px;
  }

  span {
    font-size: 1.4em;
  }

  .time {
    display: block;
    font-size: 1.2em;
  }

  .messages {
    max-height: 300px;
    overflow: auto;
  }

  .messages li {
    margin-bottom: 10px;

    .user {
      margin-right: 5px;
    }

    .time {
      font-size: 14px;
    }
  }

  .messages::-webkit-scrollbar {
    width: 3px;
  }
  .messages::-webkit-scrollbar-track {
    background: #ddd;
  }
  .messages::-webkit-scrollbar-thumb {
    background: #aaa;
  }
}
</style>
